/*selektor znacznika */
p {
    background-color: aqua;
}
/*slelktor ID*/
#drugi-paragraf {
    background-color: yellow;
}
p {background-color: red;
}
.akademia {
    background-color: aquamarine;
}
#selektor-potomka > p {
    background-color: gold;
}
#drugi-potomek ~ p {
    background-color: lime;
}