body {
    margin: 0;
    font-family: 'Lato',sans-serif;
}
/* nav */
#menu {
    background-color: #000000;
    text-align: center;
    height: 50px;
    }
    
#menu ul .menu-item a{
    color: #fffff;
    text-decoration: none;
}
/*header*/
#header {
    position: relative;
    text-align: center;
}
#header img{
    width: 100%;
}
/* jeżeli zmiueniamy pozycję ze stycznej na absolut/fixed należy pamiętać aby temu elemntowi